/* ================= intro ================= */
.intro {
    margin-top: 92px;
    height: 349px;
    background-image: url(../images/home_page/intro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.intro .border-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro .row {
    height: 349px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.intro .row .title h1 {
    font-family: var(--font-family);
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
}

.intro .row .title p {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.6);
    padding: 8px 0 32px 0;
}

.intro .row .search form input[type=search] {
    border: 1px solid #1937ba;
    border-radius: 8px;
    padding: 14px 24px;
    width: 608px;
    height: 50px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.7);

    &::placeholder {
        opacity: 0.5;
    }

    &::-webkit-search-cancel-button {
        cursor: pointer;
        font-size: 1.2rem;
    }
}

.intro .row .search form input[type=submit] {
    border-radius: 8px;
    padding: 14px 26px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-left: 16px;
}

.intro .row .top-level-domains {
    margin-top: 10px;
    gap: 12px;
}

.intro .row .top-level-domains p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #212121;
}

.intro .row .top-level-domains .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1937ba;
}


/* ================= services ================= */
.services {
    margin-top: 50px;
    margin-bottom: 150px;
}

.services .heading h2 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
    width: 600px;
}

.services .heading p {
    font-family: var(--second-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.6);
    width: 526px;
}

.services .box-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.services .box-container .left-side {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    width: 747px;
}

.services .box-container .left-side .box:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 273px;
}

.services .box-container .left-side .box:nth-child(2),
.services .box-container .left-side .box:nth-child(3) {
    width: 358px;
}

.services .box-container .left-side .box {
    border-radius: 16px;
    padding: 42px;
    background: rgba(25, 55, 186, 0.06);
    position: relative;
    overflow: hidden;
}

.services .box-container .left-side .box h3 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 12px;
}

.services .box-container .left-side .box p {
    font-family: var(--font-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
}

.services .box-container .left-side .box:first-child p {
    width: 460px;
}

.services .box-container .left-side .box:nth-child(2) p {
    width: 176px;
}

.services .box-container .left-side .box:nth-child(3) p {
    width: 233px;
}

.services .box-container .left-side .box img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services .box-container .right-side {
    border-radius: 16px;
    padding: 42px;
    width: 439px;
    background: #1937ba;
    position: relative;
}

.services .box-container .right-side h3 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 12px;
}

.services .box-container .right-side p {
    font-family: var(--font-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
}

.services .box-container .right-side img {
    position: absolute;
    bottom: -92px;
    right: -120px;
    transition: .1s linear;

    &:hover {
        rotate: 4deg;
    }
}


/* ================= map-locations ================= */
.map-locations {
    text-align: center;
}

.map-locations h2 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #111;
    margin-bottom: 4px;
}

.map-locations p {
    font-family: var(--font-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.6);
    margin-bottom: 44px;
}

.map-locations img {
    width: 100%;
}


/* ================= register-banner ================= */
.register-banner {
    height: 276px;
    background-image: url(../images/home_page/register-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F6F7FC;
    border-radius: 16px;
    padding: 0 60px;
    margin-bottom: 86px;
}

.register-banner .content h2 {
    font-family: var(--second-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
}

.register-banner .content p {
    font-family: var(--second-family);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.8;
}

.register-banner .btn {
    border-radius: 12px;
    padding: 20px 38px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
}